<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation_Suite">
<listeners>
<listener class-name="com.invygo.utils.SuiteListener"/>
</listeners>
    <test name="FaceBookTesting">
    <parameter name ="browserName" value ="chrome" />
         <classes>
             <class name="com.invygo.Facebook.FacebookTest"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->